#-------------------------------------------------------------------------------
# Document
# -------------------------------------------------------------------------------
snippet utf
	<?xml version="1.0" encoding="UTF-8"?>

#-------------------------------------------------------------------------------
# Tags
#-------------------------------------------------------------------------------
snippet <
	<${1:tagname}${2}>
		${3}
	</$1>
snippet >
	<${1:tagname}${2}>${3}</$1>
snippet /
	<${1:tagname}${2}/>
	${3}
#-------------------------------------------------------------------------------
# Other
#-------------------------------------------------------------------------------
snippet cdata
	<![CDATA[${1:content}]]>
